body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


/*HISTORY*/
#history-chart {
	width: 300px;
	margin: auto;
}

#clock {
	margin-left: 20px;
	margin-right: 20px;
}

#timer {
	padding-bottom: 15px;
	padding-top: 1px;
}